@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress {
    from {width: 0%;}
    to {width: 100%;}
}
.progress-bar {
    animation-name: progress;
    animation-duration: 3s;
}
.container input:checked ~ .checkmark {
    background-color: white;
    border: #4726d1 2px solid;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,600);


.floating {
  transition: background-color 0.2s ease;
}

.floating__input {
  padding: 1rem;
  font-size: 1rem;
  transition: border-color 0.2s ease;
  caret-color: var(--color__accent);
}

.floating:hover .floating__input {
  border-color: var(--input__border--hover);
}

.floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.floating__label::before {
  color: gray;
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 1rem;
  position: relative;
}

.floating__label::after {
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;
  background-color: gray;
}

.floating__input:placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus + .floating__label::before {
  color: gray;
}

input {
  background: none;
  border-width: 0;
  display: block;
  width: 100%;
}

.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pac-item {
  color: #4726d1;
  font-size: 16px;
  border-top: 0;
}

.pac-container {
  color: #4726d1;
  padding: 10px;
  border-radius: 10px;  
}

.pac-item-query {
  color: #4726d1;
  font-size: 16px;
}

.pac-matched {
  font-weight: normal;
}

.pac-icon {
  display: none;
}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}

.lightpick__inner {
  /* width: 576px !important; */
  width: fit-content !important;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.lightpick__footer {
  display: none !important;
}

.lightpick__toolbar {
  justify-content: space-between !important;
}

.lightpick {
  width: 100vw;
  padding: 0 !important;
  left: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  background-color: rgb(246 237 255) !important;
  display: flex;
  justify-content: center;
}